body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 15px;
}
.welcome {
  background-color: #574f4c;
  color: white;
}
.title {
  font-family: "Schwarzwald";
  margin-bottom: 50px;
}
.welcome .read-more {
  background-color: #3e3a39;
  border-color: #41464b;
  border-radius: 0%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
}
.icons {
  color: black;
  background-color: white;
  padding: 10px;
  width:50px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.welcome .read-more:hover {
  
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  align-items: center;
}
p {
  line-height: 24px;
  display: block;
}
.style {
  text-align: justify;
}
.animetext {
  text-align: justify;
  margin: 20px;
}
.animetext.p {
  font-size: 70px;
}

